body {
    background-image: url(img/wallpaper.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    color: #fff;
    margin-top: 38px;
    text-align: center;
    font-size: 44px;
}

input{
    width: 368px;
    height: 20px;
    font-size: 18px;
}

div{
    text-align: center;
    margin-top: 350px;
}

button{
    width: 200px;
    height: 50px;
    font-size: 14px;
}