<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widht=device-widht, initial-scale=1.0">
    <title>Шар судьбы</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="shortcut icon" href="../static/img/eye-2-svgrepo-com.svg">
</head>
<body>
    
    <h1>Ну же смелей, вопрос свой отправляй!</h1>
    <form action="/answer" method="post">
        <div>
        <label for="question"></label>
        <input type="text" maxlength="70" id="question" name="question" required>
        </div>
        <div class="baton">
        <button type="submit">Узнать истину</button>
        </div>
    </form>
    keypress
</body>
</html>